body {
  font-family: "MuseoSansCyrl500";
  width: 100%;
  background: url("../images/iswanto-arif-448003-unsplash.jpg");
  margin: 0;
  box-sizing: border-box;
  padding-left: 150px;
  padding-top: 88.59px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 248.91px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 129.38px;
  padding-right: 113.81px;
}
.header__logo {
  width: 146.18px;
  height: 54.84px;
}
.menu {
  display: flex;
}
.close {
  display: none;
}
.menu :last-child {
  margin-right: 0;
}
.menu__link {
  margin-right: 33.73px;
  color: white;
  font-size: 22px;
  line-height: 26px;
  text-decoration: none;
  cursor: pointer;
  transition: color 1s linear;
}
.menu__link:hover {
  color: fuchsia;
}
.header__burger {
  display: none;
}
.burger__item {
  height: 3px;
  width: 25px;
  margin-top: 4px;
  background: white;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.information__title {
  color: white;
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  margin-bottom:0;
  margin-top:0;
  font-size: 280px;
  opacity: 0.4;
}
.information__subtitle {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  margin-top: -145px;
  margin-bottom: 8.44px;
  font-size: 98px;
  color: white;
  padding-left: 82.93px;
}
.information__text {
  width: 550.75px;
  margin-bottom: 60.47px;
  font-size: 22px;
  line-height: 26px;
  color: white;
}
.information__button {
  background: #D4BEA3;
  border: 0;
  border-radius: 48px;
  color: white;
  width: 293.76px;
  height: 61.88px;
  font-size: 22px;
  cursor: pointer;
  transition: background linear;
}
.information__button:hover {
  background: lime;
}
.gallery {
  display: flex;
  align-items: center;
}
.gallery :last-child {
  margin-right: 0;
  width: 190px;
}
.gallery__foto {
  width: 284.31px;
  height: 379.69px;
  margin-right: 33.73px;
  border-radius: 5px;
}
.gallery__foto_big {
  width: 317.31px;
  height: 421.88px;
}
@media (max-width: 1366px) {
  body {
    padding-left: 100px;
    padding-top: 63px;
    padding-bottom: 177px;
  }
  .header {
    margin-bottom: 92px;
    padding-right: 80.97px
  }
  .header__logo {
    width: 104px;
    height: 39px;
  }
  .menu__link {
    margin-right: 24px;
    font-size: 16px;
    line-height: 19px;
  }
  .information__title {
    font-size: 200px;
  }
  .information__subtitle {
    margin-top: -100px;
    margin-bottom: 8px;
    font-size: 70px;
    padding-left: 59px;
  }
  .information__text {
    width: 399px;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 19px;
  }
  .information__button {
    width: 209px;
    height: 44px;
    font-size: 16px;
  }
  .gallery :last-child {
    width: 110px;
  }
  .gallery__foto {
    width: 202.27px;
    height: 270px;
    margin-right: 24px;
  }
  .gallery__foto_big {
    width: 202.27px;
    height: 300px;
  }
}
@media (max-width: 1024px) {
  body {
    padding-left: 41px;
    padding-top: 63px;
    padding-bottom: 174.52px;
  }
  .header {
    margin-bottom: 94.48px;
    padding-right: 37px;
  }
  .header__logo {
    width: 104px;
    height: 39px;
  }
  .menu__link {
    margin-right: 24px;
    font-size: 16px;
    line-height: 19px;
  }
  .information__title {
    font-size: 200px;
  }
  .information__subtitle {
    margin-top: -100px;
    margin-bottom: 8px;
    font-size: 70px;
    padding-left: 59px;
  }
  .information__text {
    width: 399px;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 19px;
  }
  .information__button {
    width: 209px;
    height: 44px;
    font-size: 16px;
  }
  .gallery :last-child {
    display: none;
  }
  .gallery__foto {
    width: 202.27px;
    height: 270px;
    margin-right: 24px;
  }
  .gallery__foto_big {
    width: 202.27px;
    height: 300px;
  }
}
@media (max-width: 872px) {
  .gallery__foto {
    display: none;
  }
  .gallery__foto_big {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  body {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 42px;
    padding-bottom: 97.32px;
    margin: 8px;
  }
  .header {
    margin-bottom: 54.88px;
    padding-left: 37px;
  }
  .header__logo {
    width: 104px;
    height: 39px;
  }
  .information__title {
    font-size: 170px;
  }
  .information__subtitle {
    margin-top: -90px;
    margin-bottom: 5px;
    font-size: 60px;
    padding-left: 50px;
  }
  .information__text {
    width: 292.84px;
    margin-bottom: 35.9px;
    font-size: 18px;
    line-height: 22px;
  }
  .information__button {
    width: 209px;
    height: 44px;
    font-size: 16px;
  }
  .gallery {
    display: none;
  }
  .header__burger {
    display: block;
    cursor: pointer;
  }
  .menu {
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: white;
    padding: 50px;
  }
  .close {
    display: block;
    cursor: pointer;
    float: right;
  }
  .close:before {
    content: "";
    position: absolute;
    width: 32px;
    height: 2px;
    background: #555;
    transform: rotate(45deg);
  }
  .close:after {
    content: "";
    position: absolute;
    width: 32px;
    height: 2px;
    background: #555;
    transform: rotate(-45deg);
  }
  .menu__link {
    margin-right: 0;
    color: black;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
    padding-top: 24px;
  }
  .menu :last-child {
    padding-bottom: 24px;
  }
  .menu :first-child {
    padding-top: 24px;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
@media (max-width: 375px) {
  .information__title {
    font-size: 140px;
  }
  .information__subtitle {
    margin-top: -75px;
    margin-bottom: 5px;
    font-size: 40px;
    padding-left: 50px;
  }
}
