body {
  font-family: "MuseoSansCyrl500";
  width: 100%;
  background: url("../images/iswanto-arif-448003-unsplash.jpg");
  margin: 0;
  box-sizing: border-box;
  padding-left: 247.38px;
  padding-top: 144.84px;
  background-size: cover;
  margin-bottom: 129.38px;
  background-repeat: no-repeat;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 129.38px;
  padding-right: 160.2px;
}
.header__logo {
  width: 146.18px;
  height: 54.84px;
}
.menu {
  display: flex;
 }
 .menu :last-child {
   margin-right: 0;
 }
 .menu__link {
   margin-right: 33.73px;
   color: white;
   font-size: 22px;
   text-decoration: none;
 }
 .header__burger {
   display: none;
 }
 .burger__item {
   height: 3px;
   width: 30px;
   margin-top: 10px;
   background-color: white;
   border-radius: 1px;
 }
 @media (max-width:768px) {
   .header__burger {
     display: block;
   }
   .menu {
     display: none;
   }
 }
 .content {
   display: flex;
   justify-content: space-between;
  }
.information__title {
  color: white;
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  margin-bottom:0;
  margin-top:0;
  font-size: 280px;
  opacity: 0.4;
}
.information__subtitle {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  margin-top: -145px;
  margin-bottom: 8.44px;
  font-size: 98px;
  color: white;
  padding-left: 82.93px;
}
.information__text {
  width: 550.75px;
  margin-bottom: 60.47px;
  font-size: 22px;
  line-height: 26px;
  color: white;
}
.information__button{
  background: #D4BEA3;
  border: 0;
  border-radius: 48px;
  color: white;
  width: 293.76px;
  height: 61.88px;
  font-size: 22px;
}
.gallery {
  display: flex;
  align-items: center;
}
.gallery :last-child {
  margin-right: 0;
  width: 253.85px;
}
.gallery__foto {
  width: 284.31px;
  height: 379.69px;
  margin-right: 33.73px;
  border-radius: 5px;
}
.gallery__foto_big {
  width: 317.31px;
  height: 421.88px;
}
